<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title.endsWith('membot') ? title : title + ' - membot' %></title>
    <link rel="icon" href="<%- config.faviconUrl || 'https://memset0.cn/img/favicon.png' %>" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
    <style>
      .ui.container { max-width: 1000px !important; }
      .phone-show { display: none !important; }
      .ui.menu .ui.dropdown .dropdown.icon.phone-show:before { content: '' !important; }
      .ui.menu .ui.dropdown .disabled.item{ opacity: .88 !important; }
      @media only screen and (max-width: 767px) {
        .phone-hide { display: none !important; }
        .phone-show { display: block !important; }
      }
    </style>
  </head>
  <body>
    <div class="ui large borderless fixed menu">
      <div class="ui container">
        <a href="/" class="header item"><%= koishi.nickname %></a>
        <a class="item" href="https://github.com/memset0/membot" target="_blank">
          <i class="github icon"></i>
          <span class="phone-hide">View Source</span>
        </a>
        <div class="right menu">
          <!--<div class="item">
            <div class="ui action left icon input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search" />
              <button class="ui button">Submit</button>
            </div>
          </div>-->
          <% if (displayName) { %>
            <% if (displayAvatar) { %>
              <div class="ui dropdown item" tabindex="0">
                <div style="height: 1em; position: absolute">
                  <img class="ui avatar image" style="position: relative; left: -0.5em; top: -0.5em" src="<%- displayAvatar %>">
                </div>
                <span class="phone-hide" style="margin-left: 2.2rem"><%= displayName %></span>
                <i class="dropdown icon phone-show"></i>
                <div class="menu" tabindex="-1">
                  <div class="item disabled phone-show"><%= displayName %></div>
                  <div class="item disabled">Platform: <%= session.platform %></div>
                  <div class="item disabled">ID: <%= displayId %></div>
                </div>
              </div>
            <% } else { %>
              <div class="ui dropdown item" tabindex="0">
                <span><%= displayName %></span>
                <i class="dropdown icon"></i>
                <div class="menu" tabindex="-1">
                  <div class="item disabled">Platform: <%= session.platform %></div>
                  <div class="item disabled">ID: <%= displayId %></div>
                </div>
              </div>
            <% }%>
          <% } %>
        </div>
      </div>
    </div>
    <div class="ui container" id="container" style="margin-top: 5.2rem">