<%- await include('_partial/header'); %>

<div class="ui card" style="width: 100%">
  <div class="content">
    <!--<img class="ui avatar image" src="/images/avatar/large/elliot.jpg">-->
    <i class="users icon"></i>
    群聊 <%= channelName || data.channel %> 的绝句文章
    <!--<div class="right floated meta"><%= data.channel %></div>-->
  </div>
  <div class="content">
    <p>
      <i class="cogs icon"></i>
      每个人可以连续添加 <%= data.comboLimit %> 条绝句，每条绝句的长度限制为 <%= data.lengthLimit %>。
    </p>
  </div>
  <div class="content">
    <p>
      <i class="archive icon"></i>
      <% if (history && history.length) { %>
      <span>当前共有 <%= history.length %> 篇绝句文章</span>
      <% } else { %>
      <span>当前还没有绝句文章哦</span>
      <% } %>
    </p>
    <% if (history && history.length) { %>
    <div class="ui styled accordion" style="width: 100%">
      <% [...history].reverse().forEach((article) => { %>
      <div class="title" style="overflow: hidden; white-space: nowrap;">
        <i class="dropdown icon"></i>
        <span>《<%= article.article.title %>》</span>
        <% if (article.avatar) { %>
          <span style="margin-left: 0.5em">
            <% for (let i = 0; i < article.avatar.length; i++) { %>
              <img class="ui avatar image" src="<%- article.avatar[i] %>" style="z-index: <%= 10 + i %>; margin-left: <%= i ? '-1.2em' : '0'%>">
            <% } %>
          </span>
        <% } %>
      </div>
      <div class="content">
        <p>
          <!--
          <% article.article.data.forEach((sentence) => { %>
          --><span class="jjwz-sentence" data-html="<%- renderUser(sentence.author) %>"><%= sentence.content %></span><!--
          <% }) %>
          -->
        </p>
        <% if (article.time) { %>
        <p>
          <i class="calendar alternate icon"></i>
          <%= moment(article.time).format('YYYY/MM/DD HH:mm:ss') %>
        </p>
        <% } %>
      </div>
      <% }) %>
    </div>
    <% } %>
  </div>
</div>

<style>
  .jjwz-sentence {
    transition: background-color 0.5s;
    line-height: 1.75em;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .jjwz-sentence:hover {
    background-color: yellow;
  }
</style>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    $('.ui.accordion').accordion();
    $('.jjwz-sentence').popup({ on: 'hover' });
  });
</script>

<%- await include('_partial/footer'); %>
